# Ignore Play! working directory #
bin/
/db
.eclipse
.classpath
.project
.settings/
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
.gradle/
build/
out/

#src.zip

.idea
.gradle
# For MacOS:
.DS_Store

# For vim:
*.swp