language: java

install:
  - npm install

env:
  global:
    - QINIU_ACCESS_KEY=vHg2e7nOh7Jsucv2Azr5FH6omPgX22zoJRWa0FN5
    - secure: "khCbQFPFoQpvN9l48yYnK/FTyYhrbtYgYBDNwG1o0a0sZHpjFyFkSqVNvQf97cQdEZXZ+URKZjt2COcw90JzMotpH22k1QnY9CgwEng4rVhJcGPv8kPlJLH7cAOzhhCQjB5tN2JJtuJEX/ZI+ZhwLD6ck5LcXYTuSJLoZxmGDus="
    - QINIU_TEST_ENV=travis

script:
    - ./gradlew test -d
    - ./gradlew jacocoTestReport
    - npx codecov

