language: java

sudo: required

os:
  - linux
  - osx

java:
  - 1.8
  - 1.9.x
  - 1.10.x

env:
  global:
    - secure: N3qxkTMAhlclCMtfOB9xLBrFI/OgUg208gMMwQPqwTOsTiZDQnuUBaS7lVZuI0zg6RsuXS/JGi2lp3MXIqKjcl7L5KoTXGKdU19f8H6z3N579kMM+C2WcXRVKWehIDaKXEWQz4BEfIorZKGA07J2SITMozll3KlHAx+K2wxpmyI=
    - QINIU_TEST_ENV=travis
    - accessKey=vHg2e7nOh7Jsucv2Azr5FH6omPgX22zoJRWa0FN5

script:
    - 'if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then bash ./travis/run_on_pull_requests; fi'
    - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then bash ./travis/run_on_non_pull_requests; fi'
    - ./gradlew test -d
