{
 	ACCESS_KEY 					:	 "<Please apply your access key>",
	SECRET_KEY 					: 	 "<Dont send your secret key to anyone>",
	REDIRECT_URI				: 	 "<RedirectURL>",
	AUTHORIZATION_ENDPOINT 		: 	 "<AuthURL>",
	TOKEN_ENDPOINT 				: 	 "https://acc.qbox.me/oauth2/token",
	IO_HOST 					: 	 "http://iovip.qbox.me",
	FS_HOST 					: 	 "https://fs.qbox.me",
	RS_HOST 					: 	 "http://rs.qbox.me:10100",
	UP_HOST 					: 	 "http://up.qbox.me",
	BLOCK_SIZE 					: 	 4194304,
	PUT_CHUNK_SIZE				: 	 262144,
	PUT_RETRY_TIMES 			: 	 3,
	PUT_TIMEOUT 				: 	 300000
 }